<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Routes>
    <Ref>res/fix-point.xml</Ref>
    <Ref>res/ndb.xml</Ref>
    <Ref>res/vor-dme.xml</Ref>
    <Routes name="W1" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>W1</Content>
        </Label>
        <Point>NOB</Point>
        <Point>NAH</Point>
        <Point>MAREL</Point>
        <Point>HATIN</Point>
        <Point>XONUS</Point>
        <Point>HAMIN</Point>
        <Point>DAN</Point>
        <Point>PLK</Point>
        <Point>BMT</Point>
        <Point>AC</Point>
        <Point>TSN</Point>
    </Routes>
    <Routes name="W6" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>W6</Content>
        </Label>
        <Point>NOB</Point>
        <Point>TONGA</Point>
        <Point>LAOCAI</Point>
    </Routes>
    <Routes name="W7" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>W7</Content>
        </Label>
        <Point>LKH</Point>
        <Point>BMT</Point>
    </Routes>
    <Routes name="W21" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>W21</Content>
        </Label>
        <Point>NOB</Point>
        <Point>HUVAN</Point>
        <Point>BQ</Point>
    </Routes>
    <Routes name="W3" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>W3</Content>
        </Label>
        <Point>NOB</Point>
        <Point>PHUTA</Point>
        <Point>CAB</Point>
    </Routes>
    <Routes name="W5" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>W5</Content>
        </Label>
        <Point>NAH</Point>
        <Point>CAB</Point>
    </Routes>
    <Routes name="W14" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>W14</Content>
        </Label>
        <Point>NAH</Point>
        <Point>MC</Point>
    </Routes>
    <Routes name="W4" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>W4</Content>
        </Label>
        <Point>AM</Point>
        <Point>MC</Point>
        <Point>BQ</Point>
        <Point>DIB</Point>
    </Routes>
    <Routes name="W76" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>W76</Content>
        </Label>
        <Point>VTN</Point>
        <Point>ALPHA</Point>
        <Point>KADIN</Point>
        <Point>TANGO</Point>
        <Point>DELTA</Point>
        <Point>PAK</Point>
    </Routes>
    <Routes name="W70" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>W70</Content>
        </Label>
        <Point>BHY</Point>
        <Point>PEGDU</Point>
        <Point>NYB</Point>
    </Routes>
    <Routes name="A1" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>A1</Content>
        </Label>
        <Point>BKK</Point>
        <Point>UBL</Point>
        <Point>PAPRA</Point>
        <Point>BATEM</Point>
        <Point>DAN</Point>
        <Point>BUNTA</Point>
        <Point>IKELA</Point>
        <Point>IDOSI</Point>
        <Point>CH</Point>
        <Point>ELATO</Point>
        <Point>MKG</Point>
    </Routes>
    <Routes name="A202" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>A202</Content>
        </Label>
        <Point>BKK</Point>
        <Point>KRT</Point>
        <Point>RAMEI</Point>
        <Point>SAV</Point>
        <Point>VILAO</Point>
        <Point>DONGI</Point>
        <Point>XONUS</Point>
        <Point>ASSAD</Point>
        <Point>SAMAS</Point>
        <Point>SIKOU</Point>
        <Point>CH</Point>
    </Routes>
    <Routes name="A206" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>A206</Content>
        </Label>
        <Point>LPB</Point>
        <Point>NALAO</Point>
        <Point>VIN</Point>
        <Point>KADIM</Point>
        <Point>HATIN</Point>
        <Point>ASSAD</Point>
    </Routes>
    <Routes name="A340" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>A340</Content>
        </Label>
        <Point>PNH</Point>
        <Point>RYN</Point>
    </Routes>
    <Routes name="A577" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>A577</Content>
        </Label>
        <Point>KABAM</Point>
        <Point>PARPA</Point>
        <Point>TNN</Point>
    </Routes>
    <Routes name="A581" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>A581</Content>
        </Label>
        <Point>SAGAG</Point>
        <Point>BIDRU</Point>
        <Point>KMG</Point>
    </Routes>
    <Routes name="A599" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>A599</Content>
        </Label>
        <Point>KMG</Point>
        <Point>LXI</Point>
        <Point>ADBAG</Point>
        <Point>BSE</Point>
        <Point>LBN</Point>
        <Point>GYA</Point>
    </Routes>
    <Routes name="B202" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>B202</Content>
        </Label>
        <Point>UBL</Point>
        <Point>PAK</Point>
        <Point>BOMPA</Point>
        <Point>PLK</Point>
    </Routes>
    <Routes name="B214" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>B214</Content>
        </Label>
        <Point>BQ</Point>
        <Point>LADON</Point>
        <Point>AKSAG</Point>
    </Routes>
    <Routes name="B218" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>B218</Content>
        </Label>
        <Point>VTN</Point>
        <Point>LPB</Point>
        <Point>SAGAG</Point>
    </Routes>
    <Routes name="B329" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>B329</Content>
        </Label>
        <Point>NAH</Point>
        <Point>KADIM</Point>
        <Point>KAMSU</Point>
        <Point>VILAO</Point>
        <Point>PAK</Point>
        <Point>VIBUN</Point>
        <Point>PNH</Point>
    </Routes>
    <Routes name="B460" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>B460</Content>
        </Label>
        <Point>SAV</Point>
        <Point>ROT</Point>
        <Point>KRT</Point>
    </Routes>
    <Routes name="B465" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>B465</Content>
        </Label>
        <Point>AKSAG</Point>
        <Point>LPB</Point>
        <Point>LAPON</Point>
        <Point>MC</Point>
    </Routes>
    <Routes name="G466" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>G466</Content>
        </Label>
        <Point>VKL</Point>
        <Point>VKB</Point>
    </Routes>
    <Routes name="B468" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>B468</Content>
        </Label>
        <Point>LPB</Point>
        <Point>LADON</Point>
        <Point>DIB</Point>
    </Routes>
    <Routes name="G221" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>G221</Content>
        </Label>
        <Point>SAMAS</Point>
        <Point>NYB</Point>
        <Point>GIVIL</Point>
        <Point>WL</Point>
        <Point>SYX</Point>
        <Point>SAGSU</Point>
        <Point>BUNTA</Point>
        <Point>PCA</Point>
    </Routes>
    <Routes name="G474" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>G474</Content>
        </Label>
        <Point>BKK</Point>
        <Point>MENAM</Point>
        <Point>VIBUN</Point>
        <Point>SOURN</Point>
        <Point>ANINA</Point>
        <Point>PLK</Point>
        <Point>PCA</Point>
    </Routes>
    <Routes name="G580" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>G580</Content>
        </Label>
        <Point>SJ</Point>
        <Point>HOSBA</Point>
        <Point>TOMAN</Point>
    </Routes>
    <Routes name="G584" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>G584</Content>
        </Label>
        <Point>VKL</Point>
        <Point>VPK</Point>
    </Routes>
    <Routes name="L517" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>L517</Content>
        </Label>
        <Point>BRU</Point>
        <Point>VMI</Point>
        <Point>TERIX</Point>
    </Routes>
    <Routes name="L625" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>L625</Content>
        </Label>
        <Point>TOMAN</Point>
        <Point>LUSMO</Point>
        <Point>AKMON</Point>
        <Point>ALDAS</Point>
        <Point>AGSAM</Point>
        <Point>ANOKI</Point>
        <Point>ARESI</Point>
        <Point>DABGI</Point>
        <Point>AKOTA</Point>
    </Routes>
    <Routes name="L628" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>L628</Content>
        </Label>
        <Point>PCA</Point>
        <Point>VEPAM</Point>
        <Point>DAMEL</Point>
        <Point>MESOX</Point>
        <Point>ARESI</Point>
        <Point>EMPUL</Point>
        <Point>GUKUM</Point>
        <Point>MIA</Point>
    </Routes>
    <Routes name="L629" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>L629</Content>
        </Label>
        <Point>DOLOX</Point>
        <Point>VPK</Point>
    </Routes>
    <Routes name="L635" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>L635</Content>
        </Label>
        <Point>MABLI</Point>
        <Point>VPK</Point>
    </Routes>
    <Routes name="L637" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>L637</Content>
        </Label>
        <Point>BITOD</Point>
        <Point>BIBAN</Point>
        <Point>BITIS</Point>
        <Point>TSN</Point>
    </Routes>
    <Routes name="L642" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>L642</Content>
        </Label>
        <Point>CH</Point>
        <Point>EPDOS</Point>
        <Point>ENBOK</Point>
        <Point>EPKAL</Point>
        <Point>EGEMU</Point>
        <Point>EXOTO</Point>
        <Point>VEPAM</Point>
        <Point>KARAN</Point>
        <Point>SOSPA</Point>
        <Point>PTH</Point>
        <Point>ELSAS</Point>
        <Point>CN</Point>
        <Point>ESPOB</Point>
        <Point>ENREP</Point>
        <Point>VMR</Point>
    </Routes>
    <Routes name="L463" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>L463</Content>
        </Label>
        <Point>TSN</Point>
        <Point>LATHA</Point>
        <Point>CN</Point>
    </Routes>
    <Routes name="L644" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>L644</Content>
        </Label>
        <Point>AC</Point>
        <Point>LOSON</Point>
        <Point>CN</Point>
        <Point>DUDIS</Point>
        <Point>MABLI</Point>
        <Point>OSLAM</Point>
        <Point>OBGET</Point>
    </Routes>
    <Routes name="M505" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>M505</Content>
        </Label>
        <Point>BMT</Point>
        <Point>MD</Point>
        <Point>SRE</Point>
    </Routes>
    <Routes name="M510" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>M510</Content>
        </Label>
        <Point>TRN</Point>
        <Point>PNH</Point>
        <Point>SRE</Point>
    </Routes>
    <Routes name="M522" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>M522</Content>
        </Label>
        <Point>VJN</Point>
        <Point>VINIK</Point>
    </Routes>
    <Routes name="M644" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>M644</Content>
        </Label>
        <Point>VKB</Point>
        <Point>TONIK</Point>
        <Point>RYN</Point>
    </Routes>
    <Routes name="M751" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>M751</Content>
        </Label>
        <Point>VPK</Point>
        <Point>GUNBO</Point>
        <Point>VKB</Point>
        <Point>EMELA</Point>
        <Point>REGOS</Point>
        <Point>BKK</Point>
    </Routes>
    <Routes name="M753" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>M753</Content>
        </Label>
        <Point>ENREP</Point>
        <Point>IPRIX</Point>
        <Point>BITOD</Point>
        <Point>ADBOP</Point>
        <Point>PQU</Point>
        <Point>CAMPU</Point>
        <Point>PNH</Point>
    </Routes>
    <Routes name="M754" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>M754</Content>
        </Label>
        <Point>BRU</Point>
        <Point>VINIK</Point>
        <Point>TENON</Point>
        <Point>NOBEN</Point>
        <Point>GUKUM</Point>
        <Point>AKOTA</Point>
    </Routes>
    <Routes name="M755" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>M755</Content>
        </Label>
        <Point>PNH</Point>
        <Point>KISAN</Point>
        <Point>TUNPO</Point>
        <Point>BITOD</Point>
    </Routes>
    <Routes name="M758" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>M758</Content>
        </Label>
        <Point>VPK</Point>
        <Point>LUSMO</Point>
        <Point>TERIX</Point>
        <Point>OLKIT</Point>
        <Point>DOGOG</Point>
        <Point>VJN</Point>
    </Routes>
    <Routes name="M763" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>M763</Content>
        </Label>
        <Point>VPK</Point>
        <Point>ENREP</Point>
    </Routes>
    <Routes name="M765" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>M765</Content>
        </Label>
        <Point>MIA</Point>
        <Point>NOBEN</Point>
        <Point>DODUG</Point>
        <Point>PANDI</Point>
        <Point>ALDAS</Point>
        <Point>MAPNO</Point>
        <Point>DAGAG</Point>
        <Point>CN</Point>
        <Point>BITOD</Point>
        <Point>IGARI</Point>
        <Point>VKB</Point>
    </Routes>
    <Routes name="M767" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>M767</Content>
        </Label>
        <Point>TOSOV</Point>
        <Point>TENON</Point>
        <Point>TEGID</Point>
        <Point>BIDAG</Point>
        <Point>TODAM</Point>
        <Point>TERIX</Point>
        <Point>BOBOB</Point>
        <Point>TOMAN</Point>
    </Routes>
    <Routes name="M768" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>M768</Content>
        </Label>
        <Point>BRU</Point>
        <Point>DOGOG</Point>
        <Point>TODAM</Point>
        <Point>LAGOT</Point>
        <Point>AKMON</Point>
        <Point>MOXON</Point>
        <Point>DAGAG</Point>
        <Point>ELSAS</Point>
        <Point>LOSON</Point>
        <Point>TSN</Point>
    </Routes>
    <Routes name="M771" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>M771</Content>
        </Label>
        <Point>VMR</Point>
        <Point>DOLOX</Point>
        <Point>DUDIS</Point>
        <Point>DAGAG</Point>
        <Point>DAMVO</Point>
        <Point>DOXAR</Point>
        <Point>DAMEL</Point>
        <Point>DONDA</Point>
        <Point>DULOP</Point>
        <Point>CH</Point>
    </Routes>
    <Routes name="M772" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>M772</Content>
        </Label>
        <Point>VSI</Point>
        <Point>ASISU</Point>
        <Point>BIDAG</Point>
        <Point>LAXOR</Point>
        <Point>VAVUM</Point>
        <Point>DODUG</Point>
        <Point>EMPUL</Point>
        <Point>DABGI</Point>
        <Point>DULOP</Point>
    </Routes>
    <Routes name="M904" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>M904</Content>
        </Label>
        <Point>ENREP</Point>
        <Point>UPRON</Point>
        <Point>ODONO</Point>
        <Point>TIDAR</Point>
        <Point>TONIK</Point>
        <Point>SIRAT</Point>
        <Point>DIPUN</Point>
        <Point>BUT</Point>
        <Point>BKK</Point>
    </Routes>
    <Routes name="N500" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>N500</Content>
        </Label>
        <Point>TSN</Point>
        <Point>PTH</Point>
        <Point>DAMVO</Point>
        <Point>MIMUX</Point>
        <Point>AGSAM</Point>
        <Point>PANDI</Point>
    </Routes>
    <Routes name="N884" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>N884</Content>
        </Label>
        <Point>VMR</Point>
        <Point>LUSMO</Point>
        <Point>LAGOT</Point>
        <Point>LAXOR</Point>
        <Point>LULBU</Point>
        <Point>LBG</Point>
    </Routes>
    <Routes name="N891" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>N891</Content>
        </Label>
        <Point>BKK</Point>
        <Point>RYN</Point>
        <Point>ANOBO</Point>
        <Point>XONAN</Point>
        <Point>IGARI</Point>
        <Point>ENREP</Point>
        <Point>PU</Point>
    </Routes>
    <Routes name="N892" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>N892</Content>
        </Label>
        <Point>HCN</Point>
        <Point>KABAM</Point>
        <Point>MUMOT</Point>
        <Point>MAVRA</Point>
        <Point>MIGUG</Point>
        <Point>MONBO</Point>
        <Point>MESOX</Point>
        <Point>MUGAN</Point>
        <Point>MIMUX</Point>
        <Point>MAPNO</Point>
        <Point>MOXON</Point>
        <Point>MELAS</Point>
        <Point>MABLI</Point>
        <Point>VMR</Point>
    </Routes>
    <Routes name="P901" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>P901</Content>
        </Label>
        <Point>DAN</Point>
        <Point>ITBAM</Point>
    </Routes>
    <Routes name="Q15" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>Q15</Content>
        </Label>
        <Point>CRA</Point>
        <Point>MESOX</Point>
    </Routes>
    <Routes name="R208" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>R208</Content>
        </Label>
        <Point>IGARI</Point>
        <Point>UPRON</Point>
        <Point>IKUKO</Point>
        <Point>VKR</Point>
        <Point>GUNBO</Point>
    </Routes>
    <Routes name="R334" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>R334</Content>
        </Label>
        <Point>PQU</Point>
        <Point>PADMA</Point>
        <Point>KOS</Point>
        <Point>KK</Point>
        <Point>RYN</Point>
        <Point>BKK</Point>
    </Routes>
    <Routes name="R339" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>R339</Content>
        </Label>
        <Point>BSE</Point>
        <Point>NNG</Point>
        <Point>BHY</Point>
    </Routes>
    <Routes name="R343" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>R343</Content>
        </Label>
        <Point>NNG</Point>
        <Point>LBN</Point>
    </Routes>
    <Routes name="R345" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>R345</Content>
        </Label>
        <Point>SRE</Point>
        <Point>ROT</Point>
    </Routes>
    <Routes name="R468" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>R468</Content>
        </Label>
        <Point>BKK</Point>
        <Point>PNH</Point>
        <Point>POPET</Point>
        <Point>SAPEN</Point>
        <Point>CUCHI</Point>
        <Point>TSN</Point>
    </Routes>
    <Routes name="R470" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>R470</Content>
        </Label>
        <Point>VTN</Point>
        <Point>UDN</Point>
        <Point>ROT</Point>
    </Routes>
    <Routes name="R471" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>R471</Content>
        </Label>
        <Point>NAKHA</Point>
        <Point>MEOVA</Point>
        <Point>KATBO</Point>
        <Point>ADBAG</Point>
    </Routes>
    <Routes name="R474" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>R474</Content>
        </Label>
        <Point>BKK</Point>
        <Point>CMP</Point>
        <Point>VTN</Point>
        <Point>NOHET</Point>
        <Point>LAVOS</Point>
        <Point>MC</Point>
        <Point>NOB</Point>
        <Point>NAKHA</Point>
        <Point>TEBAK</Point>
        <Point>NL</Point>
        <Point>NNG</Point>
        <Point>GYA</Point>
        <Point>SHL</Point>
        <Point>CH</Point>
    </Routes>
    <Routes name="R575" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>R575</Content>
        </Label>
        <Point>PAPRA</Point>
        <Point>LAVAN</Point>
        <Point>VIBUN</Point>
        <Point>SATON</Point>
        <Point>AKNAT</Point>
        <Point>BIDEG</Point>
        <Point>KK</Point>
        <Point>ANOBO</Point>
        <Point>EMELA</Point>
    </Routes>
    <Routes name="R588" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>R588</Content>
        </Label>
        <Point>RELIP</Point>
        <Point>TONIK</Point>
        <Point>KOS</Point>
        <Point>PNH</Point>
        <Point>GONLY</Point>
        <Point>PLK</Point>
    </Routes>
    <Routes name="W2" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>W2</Content>
        </Label>
        <Point>NAH</Point>
        <Point>VIN</Point>
        <Point>DONGI</Point>
        <Point>KONCO</Point>
        <Point>HUE</Point>
        <Point>DAN</Point>
        <Point>CQ</Point>
        <Point>PCA</Point>
        <Point>KARAN</Point>
        <Point>NHATA</Point>
        <Point>CRA</Point>
        <Point>PTH</Point>
        <Point>AC</Point>
    </Routes>
    <Routes name="W8" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>W8</Content>
        </Label>
        <Point>TSN</Point>
        <Point>RG</Point>
        <Point>TUNPO</Point>
        <Point>PQU</Point>
    </Routes>
    <Routes name="W9" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>W9</Content>
        </Label>
        <Point>TSN</Point>
        <Point>LATHA</Point>
        <Point>CN</Point>
    </Routes>
    <Routes name="W10" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>W10</Content>
        </Label>
        <Point>PLK</Point>
        <Point>BATEM</Point>
        <Point>HUE</Point>
        <Point>HAMIN</Point>
        <Point>ASSAD</Point>
        <Point>BALOV</Point>
        <Point>BK</Point>
    </Routes>
    <Routes name="W11" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>W11</Content>
        </Label>
        <Point>PLK</Point>
        <Point>CQ</Point>
    </Routes>
    <Routes name="W12" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>W12</Content>
        </Label>
        <Point>PCA</Point>
        <Point>BMT</Point>
        <Point>DONXO</Point>
        <Point>CUCHI</Point>
        <Point>TRN</Point>
    </Routes>
    <Routes name="W15" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>W15</Content>
        </Label>
        <Point>AC</Point>
        <Point>LKH</Point>
        <Point>SOSPA</Point>
        <Point>CRA</Point>
    </Routes>
    <Routes name="W16" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>W16</Content>
        </Label>
        <Point>TSN</Point>
        <Point>KANTA</Point>
        <Point>TRN</Point>
        <Point>RG</Point>
    </Routes>
    <Routes name="W17" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>W17</Content>
        </Label>
        <Point>TSN</Point>
        <Point>BASON</Point>
        <Point>VIMBU</Point>
        <Point>TUNPO</Point>
    </Routes>
    <Routes name="W18" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>W18</Content>
        </Label>
        <Point>TRN</Point>
        <Point>QL</Point>
    </Routes>
    <Routes name="W19" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>W19</Content>
        </Label>
        <Point>TSN</Point>
        <Point>VTV</Point>
        <Point>LITAM</Point>
        <Point>CN</Point>
    </Routes>
    <Routes name="W20" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>W20</Content>
        </Label>
        <Point>MAREL</Point>
        <Point>VANUC</Point>
        <Point>CAB</Point>
    </Routes>
    <Routes name="W22" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>W22</Content>
        </Label>
        <Point>MEOVA</Point>
        <Point>VPH</Point>
    </Routes>
    <Routes name="W23" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>W23</Content>
        </Label>
        <Point>TRN</Point>
        <Point>ANHOA</Point>
        <Point>CONDA</Point>
        <Point>CN</Point>
    </Routes>
    <Routes name="MC1A" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>MC1A</Content>
        </Label>
        <Point>MC</Point>
        <Point>HUNLI</Point>
    </Routes>
    <Routes name="T1" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>T1</Content>
        </Label>
        <Point>TSN</Point>
        <Point>ANRAN</Point>
        <Point>BMT</Point>
    </Routes>
    <Routes name="T12" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>T12</Content>
        </Label>
        <Point>TSN</Point>
        <Point>DONXO</Point>
    </Routes>
    <Routes name="N1A" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>N1A</Content>
        </Label>
        <Point>NAH</Point>
        <Point>SAMFU</Point>
    </Routes>
    <Routes name="W17M" enabled="true" color="#2c6e24" z-index="1" weight="1">
        <Label Enabled="true" Padding-X="0" Padding-Y="-10">
            <Z-Index>101.0</Z-Index>
            <Font-Size>7</Font-Size>
            <Color>#2c6e25</Color>
            <Content>W17M</Content>
        </Label>
        <Point>PANDI</Point>
        <Point>VAVUM</Point>
        <Point>LULBU</Point>
        <Point>PR</Point>
    </Routes>
</Routes>